$content-bg: #19191c; // Fundo preto
$primary-color: #159948; // Laranja
$text-color: #fff; // Branco

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: black;

    &__interno {
        background-color: $content-bg;
        height: 100px;
        width: 250px;
        padding: 10px;
    }

    ion-button {
        width: 100%;
    }
}